Package: com.peterdev.half
Name: half
Depends: mobilesubstrate
Version: 1.0.3
Architecture: iphoneos-arm
Description: Fancy iOS Battery Indicator for iOS 11+
Maintainer: Soongyu Kwon
Author: Soongyu Kwon & Ayden Leppert
Section: Tweaks
